h1{
    text-align: center;
    color: blueviolet;
}
h3{
    text-decoration:underline;
    color: rgb(74, 10, 250);
}
div{
    border: 8px solid rgba(37, 99, 170, 0.575);
    margin: 25px;
    padding-left: 12px;
    padding-right: 5px;
    /* border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; */
    box-shadow: 8px 8px rgb(66, 230, 241);
}

img{
    /*height: 500px;
    */width: 500px;
    padding-left: 25px;
    padding-bottom: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}